#view-calendar {
    margin: 0 auto;
}

#view-calendar tr td {
    width: 196px;
    height: 100px;
    text-align: center;
    background-color: lime;
    border: 1px solid maroon;
    font-size: 2em;
}

#view-calendar tr td.gray {
    background-color: #ccc;
}

#view-calendar tr td.green {
    background-color: lime;
}

#view-calendar tr td.yellow {
    background-color: yellow;
}

#view-calendar tr td p.movie {
    font-size: 0.6em;
}