html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.anchor {
    scroll-margin-top: 55px;
}

.movie-list tr.separator {
    height: 4px;
}
.movie-list td {
    padding-right: 10px;
}
.movie-list h4 {
    color: #666666;
}
.movie-list p {
    color: #888888;
}
.movie-image {
    width: 100px;
}
.movie-image-small {
    width: 50px;
}
.movie-image-details-container {
    text-align: center;
}

.movie-image-details-container img {
    width: 256px;
}

.person-list tr.separator {
    height: 4px;
}
.person-list td {
    padding-right: 10px;
}
.person-image {
    width: 100px;
}
.person-image-details-container {
    text-align: center;
}

.person-image-details-container img {
    width: 256px;
}

.award-list tr.separator {
    height: 4px;
}
.award-list td {
    padding-right: 10px;
}
.award-image {
    width: 100px;
}
.award-image-details-container {
    text-align: center;
}

.award-image-details-container img, .award-image-winner-details-container img, .award-image-nominant-details-container img {
    width: 128px;
}

.series-list tr.separator {
    height: 4px;
}
.series-list td {
    padding-right: 10px;
}
.series-list h4 {
    color: #666666;
}
.series-list p {
    color: #888888;
}
.series-image {
    width: 100px;
}
.series-image-small {
    width: 50px;
}
.series-image-details-container {
    text-align: center;
}

.series-image-details-container img {
    width: 256px;
}

.filter-row {
    margin-bottom: 25px;
}

.person-actor-movie-count, .person-director-movie-count {
    margin: 0 10px;
}

.theater-status-label {
    color: white;
    border-radius: 8px;
    margin: 0 8px;
    padding: 0 8px;
    user-select: none;
    font-weight: normal;
    white-space: nowrap;
}

.theater-status-label.warning {
    background-color: orange;
}

.theater-status-label.danger {
    background-color: red;
}

/* ImageUploader widget start */
.image-uploader-widget {
    height: 70px;
}

.image-uploader-widget-inner-wrapper {
    height: 34px;
    padding-left: 0;
    padding-right: 0;
}

.image-uploader-widget-left {
    padding-left: 0;
}

.image-uploader-widget-right {
    padding-right: 0;
}

.image-container-file {
    display: none;
}
/* ImageUploader widget end */

.comment-image {
    width: 100px;
}

.queue-index .movie-year {
    color: #888888;
    margin-right: 16px;
}

.queue-award-image {
    max-width: 24px;
    max-height: 24px;
}

/** Create View Theater row start */
.field-view-theater_id {
    height: 60px;
}

.field-view-theater_id .theater-wrapper,
.field-view-theater_id .view-theater-left,
.field-view-theater_id .view-theater-right input {
    margin: 0;
    padding: 0;
    box-shadow: none;
    user-select: none;
}

.field-view-theater_id .view-theater-right input:focus{
    border-color: #fff;
    box-shadow: none;
}

.field-view-theater_id .view-theater-center, .field-view-theater_id .view-theater-right {
    display: none;
}
/** Create View Theater row end */

@media (max-width: 1199px) {
    .filter-row {
        margin-bottom: 0;
    }
    
    .filter-item {
        margin-bottom: 10px;
    }
    
    .filter-item div:has(input[type=checkbox]) {
        display: inline;
    }
}
